$green: #06a763;
$greenbold: #05985a;
$white: #ffffff;
$blue: #3f51b5;
$sky: #2196f3;
$orange: #f44336;
$orangelight: #ef6c00;
$grey: #ccc3c3;
$black: #747474;
$lightgrey: #dedddd;
$lightblue: #1976d2;
$shadow: #424141;
$pagination: #007aff;
$text: #383939;
$darkBlue: #1f5694;
$darkGreen: #038175;
$lightBrown: #616161;
$purple: #5f1a89;
$brown: #5d4037;
$red: #e42444;
$pink: #d81b60;
$light: #dde2e5;
