$green: #06a763;
$greenbold: #05985a;
$white: #ffffff;
$blue: #3f51b5;
$sky: #2196f3;
$orange: #f44336;
$orangelight: #ef6c00;
$grey: #ccc3c3;
$black: #747474;
$lightgrey: #dedddd;
$lightblue: #1976d2;
$shadow: #424141;
$pagination: #007aff;
$text: #383939;
