@import '../../../../index.scss';

.wrap_lazy {
  width: 100%;
  height: 900px;
  background-color: $green;
  font-family: 'raleway';
  color: $white;
  text-align: center;
  padding: 350px;
  text-shadow: 2px 2px 4px $black;

  .lazy_box {
    margin: 0 auto;
    width: 25px;
    height: 25px;
    border: 4px solid $white;
    background-color: $green;
  }

  .lazy_title {
    font-size: 30px;
    font-weight: bold;
  }

  .lazy_subTitle {
    margin-top: -10px;
    font-size: 20px;
  }
}
