@import '../../../../index.scss';
.wrap_tes {
  @include md {
    margin: 0 15px;
  }
}

.tes {
  font-family: 'muli';
  line-height: 20px;
  position: relative;
  background-color: $green;
  height: auto;
  transition: 3s;
  -webkit-text-size-adjust: 100%;

  .tes_img {
    width: 130px;
    height: 130px;
    margin: 10px auto;
    border-radius: 50%;
    overflow: hidden;
    @extend .shadow;
  }

  &_text {
    padding: 0 55px;
    color: $white;
    text-align: center;
    font-size: 15px;
  }
}

.tes_text::before {
  content: ' " ';
  color: $blue;
}

.animation {
  margin-top: 20px;
  @extend .shadow;

  .ani_img {
    width: 120px;
    height: auto;
    position: relative;
    margin-top: 20px;
    padding: 10px auto;
    opacity: 0.7;
    &:hover {
      opacity: 1;
      transition: 1s linear;
    }
  }
}

.swiper-pagination-bullet {
  border-radius: unset !important;
  width: 10px !important;
  height: 10px !important;
  border: 2px solid $pagination;
}

.tes_text_footer {
  padding: 0 55px;
  color: $white;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

.slider {
  padding-bottom: 40px;
}
