@import '../../../../index.scss';

.pricing {
  font-family: 'muli';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  @include md {
    margin: 0 15px;
    grid-template-columns: none;
  }

  .pricing_base {
    @extend .shadow;
    width: auto;
    &:hover {
      transform: scale(1.03);
      transition: 0.5s;
      box-shadow: 0 20px 30px 0 rgb(0 0 0 / 16%), 0 10px 15px 0 rgb(0 0 0 / 12%);
    }

    @include md {
      margin-bottom: 15px;
    }
  }

  &_head {
    background-color: $green;
    text-align: center;
    color: $white;
    padding: 40px;

    &_dis {
      display: flex;
      justify-content: center;

      .icon_dola {
        font-size: 30px;
        margin: 0;
      }
    }

    &-text {
      color: $white;
      position: relative;
      margin: 0;
      font-size: 50px;
      @include md {
        width: 100px;
        margin: 0;
      }

      &::after {
        content: '/mo';
        font-size: 20px;
      }
    }
  }

  &_sub-text {
    margin: 40px auto;
    margin-bottom: 0px;
    padding: 5px;
    width: 100px;
    border: 2px solid $white;
  }

  &_text {
    color: $black;
    text-align: center;
    font-size: 16px;
  }

  &_pur {
    background-color: white;
    padding: 20px 40px;
    border-top: 1px solid $lightgrey;

    &-text {
      cursor: pointer;
      @extend .shadow;
      text-align: center;
      color: $white;
      width: 90px;
      background-color: $green;
      padding: 10px;
      margin: 0 auto;
    }
  }
}

.pricing_wrap_text {
  background-color: white;
  padding: 20px 0;
}
