@import '../../../../index.scss';
@import '~mdb-ui-kit/css/mdb.min.css';

p {
  margin: 0;
}

.wrap_website {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  overflow: hidden;
  @include small {
    grid-template-columns: 1fr;
  }

  .website_portfolios {
    position: relative;
    overflow: hidden;

    .logo_icon {
      position: absolute;
    }

    .bgr_black,
    .bgr_white {
      position: absolute;
      top: 50%;
      background-color: $black;
      opacity: 0%;
      width: 100%;
      height: 100%;
    }

    .bgr_white {
      background-color: $white;
      top: 0;
      opacity: 20%;
    }

    .content_hover {
      position: absolute;
      top: 60%;
      left: 10%;
      right: 10%;
      text-align: center;
      color: $grey;
      font-size: 20px;

      .span {
        font-weight: 700;
      }
    }

    .img_website {
      @extend .shadow;
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 2px;
      cursor: pointer;
      overflow: hidden;
    }

    .sub_hover,
    .sub_hover_two {
      position: absolute;
      bottom: 9%;
      align-items: center;
      font-size: 11px;
      opacity: 0;
      left: 10%;
      right: 10%;
      color: transparent;
      font-weight: 500;
      text-align: justify;
      text-align: center;
    }

    .sub_hover_two {
      bottom: 5%;
    }
    &:hover {
      .bgr_black {
        background-color: black;
        top: 0%;
        opacity: 66%;
        transition: 0.5s;
      }

      .logo_icon {
        top: 35%;
        transition: 0.5s;
        color: $sky;
        opacity: 1;
      }

      .content_hover {
        top: 50%;
        color: $sky;
        transition: 0.5s;
      }

      .sub_hover {
        color: $white;
        bottom: 13%;
        opacity: 1;
        transition: 0.5s;
      }

      .sub_hover_two {
        bottom: 9%;
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
}

.wrap_dribble {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
  overflow: hidden;

  @include desktop__big {
    grid-template-columns: 1fr 1fr;
  }

  @include small {
    grid-template-columns: 1fr;
  }

  .dribble_portfolios {
    position: relative;
    overflow: hidden;

    .bgr_black,
    .bgr_white {
      position: absolute;
      top: 50%;
      background-color: black;
      width: 100%;
      height: 100%;
      opacity: 0%;
    }

    .bgr_white {
      background-color: $white;
      top: 0;
      opacity: 20%;
    }

    .logo_icon {
      position: absolute;
      left: 0%;
      right: 0%;
      text-align: center;
      top: 45%;
      font-size: 40px;
      opacity: 50%;
    }

    .sub_hover,
    .sub_hover_two {
      position: absolute;
      bottom: 5%;
      align-items: center;
      font-size: 11px;
      color: transparent;
      left: 10%;
      right: 10%;
      font-weight: 500;
      text-align: justify;
      text-align: center;
    }

    .sub_hover_two {
      bottom: 3%;
    }

    .content_hover {
      position: absolute;
      top: 60%;
      left: 10%;
      right: 10%;
      text-align: center;
      color: $grey;
      font-size: 20px;

      .span {
        font-weight: 700;
      }
    }

    .img_dribble {
      @extend .shadow;
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 2px;
      overflow: hidden;
      cursor: pointer;
    }
    &:hover {
      .content_hover {
        top: 50%;
        transition: 0.5s;
        color: $sky;
      }

      .sub_hover {
        color: $white;
        font-size: 11px;
        bottom: 9%;
        transition: 0.5s;
        opacity: 1;
      }

      .bgr_black {
        background-color: black;
        top: 0%;
        opacity: 66%;
        transition: 0.5s;
      }
    }
  }
}

.dribble_portfolios:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  @include desktop__big {
    grid-column: auto;
    grid-row: auto;
  }
}

.dribble_portfolios:nth-child(2) {
  .sub_hover {
    font-size: 0px;
  }

  .sub_hover_two {
    font-size: 0px;
  }

  .bgr_black {
    top: 0%;
    opacity: 0;
  }

  &:hover {
    .img_dribble {
      img {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }

    .bgr_black {
      opacity: 66%;
    }

    .logo_icon {
      top: 35%;
      transition: 0.5s;
      color: $sky;
      opacity: 1;
    }

    .content_hover {
      top: 50%;
      color: $sky;
      transition: 0.5s;
    }

    .sub_hover,
    .sub_hover_two {
      font-size: 11px;
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.wrap_logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  @include desktop__big {
    grid-template-columns: 1fr 1fr;
  }
  @include small {
    grid-template-columns: 1fr;
  }

  .logo_portfolios {
    position: relative;
    overflow: hidden;

    .img_logo {
      @extend .shadow;
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding: 2px;
      overflow: hidden;
      cursor: pointer;
    }

    .logo_icon {
      position: absolute;
      left: 0%;
      right: 0%;
      text-align: center;
      top: 45%;
      font-size: 40px;
      opacity: 0.1 !important;
    }

    .content_hover {
      position: absolute;
      top: 60%;
      left: 10%;
      right: 10%;
      text-align: center;
      color: $grey;
      font-size: 20px;

      .span {
        font-weight: 700;
      }
    }

    .bgr_black,
    .bgr_white {
      position: absolute;
      top: 0%;
      background-color: $white;
      width: 100%;
      height: 100%;
      opacity: 20%;
    }

    .bgr_white {
      background-color: $white;
      top: 0;
      opacity: 20%;
    }

    .sub_hover {
      position: absolute;
      bottom: 5%;
      align-items: center;
      font-size: 0px;
      left: 10%;
      right: 10%;
      color: $white;
      font-weight: 500;
      text-align: justify;
      text-align: center;
    }
    &:hover {
      .logo_icon {
        top: 35%;
        transition: 0.5s;
        color: $sky;
        opacity: 1 !important;
      }

      .content_hover {
        top: 50%;
        color: $sky;
        transition: 0.5s;
      }

      .sub_hover {
        font-size: 11px;
        opacity: 1;
        transition: 0.5s;
      }

      .img_logo {
        img {
          transform: scale(1.1);
          transition: 0.5s;
        }
      }

      .bgr_black {
        background-color: black;
        opacity: 66%;
        transition: 0.5s;
      }
    }
  }

  .logo_portfolios:nth-child(3) {
    .bgr_black {
      background-color: $white;
      top: 50%;
      opacity: 0%;
    }

    .sub_hover {
      font-size: 11px;
      bottom: 5%;
      color: transparent;
    }
    &:hover {
      .bgr_black {
        background-color: black;
        top: 0%;
        transition: 1s;
        opacity: 66%;
      }

      .sub_hover {
        color: $white;
        transform: none;
        bottom: 9%;
        transition: 0.5s;
      }

      .img_logo {
        img {
          transform: none;
        }
      }
    }
  }

  .logo_portfolios:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    @include desktop__big {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

.wrap_portfolios {
  .portfolios {
    .button_all {
      font-family: 'muli';
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      background-color: transparent;
      margin-right: 0px;
      @include ssmall {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
      }

      .btn-primary {
        background-color: transparent;
        color: $text;
        box-shadow: none;
        border-radius: 0%;
      }

      .btn-lg {
        padding: 10px;
        font-size: 15px;
        color: $black;
      }

      .button_text {
        position: relative;
        border: none;
        background-color: transparent;
        border-bottom: 4px solid transparent;
        cursor: pointer;
      }

      .button_text-active {
        border: none;
        background-color: transparent;
        margin-left: 10px;
        border-bottom: 4px solid $sky;
      }
    }
  }
}

.slider_port {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 10;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.block {
  display: block;
  transition: 1s;

  .all_dribble {
    display: none;
  }

  .all_web {
    display: none;
  }
}

.extra_portfolios {
  display: none;
}

.all_extra {
  .all_block {
    display: none;
  }
}

.all_extra-active {
  .all_block {
    display: block;
  }

  .all_web {
    display: block;
  }
}

.extra_portfolios-active {
  display: block;
  text-align: center;
  margin-top: 10px;

  .button_extra {
    @extend .shadow;
    cursor: pointer;
    border: none;
    font-size: 30px;
    padding: 10px 30px;
    color: $sky;
  }
}

.content_hover--bold {
  font-weight: bold;
}

.wrap_logo {
  margin: 0;
}

.fade:not(show) {
  opacity: 1 !important;
}

.all_logo {
  margin-bottom: 10px;
}

.hover_logo {
  display: none;
}

.button_all button:last-child {
  @include md {
    grid-column: 2/3;
  }
}

.block {
  display: block;
}
