@import '../../../../index.scss';

#about {
  padding-top: 10px;
}

.wrap {
  margin-top: 50px;

  .wrap__content {
    background-color: white;
    box-shadow: 1px 1px 5px 1px $grey;
    @include md {
      margin: 0 15px;
    }

    .experience {
      font-family: 'muli';
      padding: 40px;
      text-align: center;
      margin: 0;
      font-size: 14px;
      line-height: 22px;
    }

    .about {
      text-align: center;
      border-top: 1px solid $grey;
      padding: 30px 0;
      @include small {
        display: grid;
        padding: 15px 0;
      }

      .about__content {
        font-family: 'muli';
        @extend .shadow;
        width: 110px;
        border-radius: 3px;
        text-decoration: none;
        margin: 10px;
        background-color: $green;
        padding: 10px 50px;
        font-size: 15px;
        color: white;

        &.red {
          background-color: red;
        }

        &:hover {
          @extend .shadow;
        }

        @include small {
          width: 160px;
          margin: 10px auto;
          padding: 10px 0;
        }
      }
    }
  }
}
