@import '../../../../index.scss';
.wrap_contact_all {
  display: grid;
  grid-template-columns: 38% 60%;
  column-gap: 20px;
  @include desktop__big {
    grid-template-columns: none;
  }
  .wrap_contact {
    @extend .shadow;
    padding: 60px 40px 10px 40px;
    margin: 0;
    @include desktop__big {
      margin-bottom: 20px;
    }
    .input_click {
      position: relative;
      width: auto;
      &.active {
        .label {
          top: -10px;
          font-size: 14px;
          font-weight: 400;
        }
      }
      &:focus-within {
        .label {
          transition: 0.2s;
          top: -25px;
          font-size: 12px;
          color: $sky;
        }
        .input {
          border-bottom: 1px solid $sky;
        }
      }
    }
    .label {
      position: absolute;
      top: 0px;
      color: $grey;
    }
    .input {
      border: 1px solid transparent;
      border-bottom: 1px solid $grey;
      outline: none;
      width: 100%;
      margin-bottom: 40px;
      &_mess {
        height: 60px;
        border: 1px solid transparent;
        border-bottom: 1px solid $grey;
        outline: none;
        width: 100%;
        margin-bottom: 20px;
      }
      .textarea {
        height: 50px;
      }
    }
    .button_click {
      @extend .shadow;
      background-color: $green;
      color: $white;
      border: none;
      padding: 10px 30px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
.text_footer {
  text-align: center;
  &-blue {
    color: $sky;
    font-weight: 700;
  }
}
