@import './index.scss';

// @include font-face(raleway, Raleway);
// @include font-face(ralewayBold, Raleway-Bold);
// @include font-face(ralewayLight, Raleway-Light);
@font-face {
  font-family: 'raleway';
  src: url('./assets/Fonts/Raleway.ttf') format('truetype'), url('./assets/Fonts/Raleway.woff') format('woff'),
    url('./assets/Fonts/Raleway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  src: url('./assets/Fonts/Mulish-Medium.ttf') format('truetype'),
    url('./assets/Fonts/Mulish-Medium.woff') format('woff'), url('./assets/Fonts/Mulish-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
